<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">          
        <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js" charset="utf-8"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" class="init">
            $(document).ready(function(){
                $('#myTable').DataTable();
            });
        </script>
    </head>

    <body>
        {{ range $xIndex, $news := .Details }}
        <p>{{ $news }}</p>
        {{ end }}
        <table id="myTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Link</th>
                        <th>Keywords</th>
                    </tr>     
                </thead>
                <tbody>
                    {{ range $xIndex, $news := .Details }}
                        {{ range $yIndex, $title := $news.Titles }}
                        <tr>
                            <td>
                                {{ $title }}
                            </td>
                            <td>
                                <a href="{{ index $news.URLs $yIndex }}">{{ index $news.URLs $yIndex }}</a>
                            </td>
                            <td>
                                {{ index  $news.Keywords $yIndex }}
                            </td>
                        </tr>
                        {{ end }}
                    {{ end }}
                </tbody>
        </table>
    </body>
    
</html>
